
body{
	background-color: black;
	font-family: Verdana;
	text-align: center;
}

h1{
	color: white;
	font-size: 50px;
	font-weight: normal;
}

h2{
	font-weight: 300;
	font-size: 42px;
	color: white;
}

a{
	color: aquamarine;
	font-size: 16px;
	align-content: center;
}

embed{
	padding-top: 1em;
}

video{
	padding-top: 40px;
}